                                                /*****  screen.css: Screen Styles  *****/
html { box-sizing: border-box; background-color: rgb(177,153,121); }
*, *:before, *:after { box-sizing: inherit; }

/***************************************************************************************/
/* Typography, color, etc.          Basic element hierarchy:                           */
/* Layout is farther down.          <header>                                           */
/*                                  <body>                                             */
/*                                    <main> <h1>                                      */
/*                                      <article> <h2>                                 */
/*                                        <div.lightbox>                               */
/*                                        <section> <h3>                               */
/*                                          <div.subcontainer>                         */
/*                                          <blockquote>                               */
/*                                    <nav>                                            */
/*                                    <footer>                                         */
/***************************************************************************************/

body {
    font-family: Arial, "Helvetica Neue", Helvetica, "Liberation Sans", "DejaVu Sans Condensed", sans-serif;
}

main {
  background-color: rgb(209,192,169);
  border-radius: 0.250em;
}

article, nav {
  background-color: rgb(245,234,219);
  border-radius: 0.250em;
}

section, .lightbox, {                             /* Class "lightbox" is a way to give */
  background-color: rgb(255,251,245);             /* article text a light background,  */
  border-radius: 0.125em;                         /* to improve readability.           */
}

.subcontainer {
  background-color: inherit;
  border-radius: 0.125em;
}

blockquote p {
	font-family: Cambria, Georgia, "Liberation Serif", serif;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
  background-color: inherit;
  }

h1 {
  font-family: Frutiger, "Arial Narrow", Trebuchet, Helvetica, "DejaVu Sans Condensed",
               "Liberation Sans", "Nimbus Sans L", sans-serif;
  font-weight:   bold;
  font-size:     1.375em;
  line-height:   1.500em;                                            /* font + 0.125em */
  margin-bottom: 0.250em;
  margin-left:   0.125em;
}

h2 {
  font-family: Frutiger, "Arial Narrow", Trebuchet, Helvetica, "DejaVu Sans Condensed",
               "Liberation Sans", "Nimbus Sans L", sans-serif;
  font-weight:   bold;
  font-size:     1.250em;
  line-height:   1.375em;
}

h3 {
  font-family: Frutiger, "Arial Narrow", Trebuchet, Helvetica, "DejaVu Sans Condensed",
               "Liberation Sans", "Nimbus Sans L", sans-serif;
	font-weight:   bold;
  font-size:     1.125em;
  line-height:   1.250em;
}

h4 {
  font-family: Arial, "Helvetica Neue", Helvetica, "Liberation Sans",
               "DejaVu Sans Condensed", sans-serif;
	font-weight:   bold;
  font-size:     1.000em;
  line-height:   1.250em;
}

h5,h6,b,strong { font-weight: bold; }

i,em { font-style: italic; }

p {
  font-family: Arial, "Helvetica Neue", Helvetica, "Liberation Sans", "DejaVu Sans Condensed", sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
}

.lorem {                                                    /* Fade place-holder text. */
  color: rgb(209,192,169);
}

ul {
  list-style-position: inside;
  list-style-type:     disc;
  margin: 0.125em  0  0.125em 0.625em;
}

li {
  list-style: inherit;
  margin: 0.125em  0  0.125em 0.5em;
}

a {
  color: rgb( 83,121,105);
  text-decoration: none;
}

a:hover { text-decoration: underline; }

.nocolor { color: inherit; }

nav a {
  font-family: Frutiger, Trebuchet, Helvetica, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", sans-serif;
  font-weight: 500;
}

main nav {
  border-radius: 0.125em;
  }


/*[Begin layout]***************************************************[ screen < 12.5 em ]*/

                                                      /* Using ‘em’ instead of ‘%’ to  */
@media all and ( min-width: 0 ) {                     /* enforce minimums for spacings */

  body {
    background-color: rgb(209,192,169);
    border-width: 0.250em;
    border-style: solid;
    border-color: rgb(209,192,169);
  }

  article {                                      /* Force horizontal scrollbar when    */
    min-width: 12em;                             /*      (em-px):(vw-px) ratio is high */
    margin:  0.250em;
    padding: 0 0.250em 0.375em 0.250em;
  }

  div.lightbox {
    margin:  0.125em 0.125em 0.250em 0.125em;
    padding: 0.125em 0.375em 0.250em 0.125em;
    }

  section {
    margin:  0.125em 0.125em 0.250em 0.125em;
    padding: 0.375em 0.375em 0.125em 0.125em;
  }

  .subcontainer {
    margin:  0.125em 0.125em 0.250em 0.125em;
    padding: 0.375em 0.250em 0.125em 0.250em;
  }

  blockquote {
    margin:  0.375em 1.625em 0.375em 1.625em;
    padding: 0.375em 0.500em 0.375em 0.500em;
  }

  p {
    margin:  0.250em 0.125em 0.500em 0.250em;
    padding: 0.250em 0 0.250em 0;             /* padding instead margin -> no collapse */
  }

  .ref p {
    margin: 0.375em 0.125em 0.500em 1.375em;              /* increase left by 1 em     */
    text-indent: -1em;                                    /* for hacky hanging indents */
  }

  /*nav { display: none}*/

  #global {                                 /* see css/notes-on-breakpoints.txt for sizing */
    display: block;
    text-align: center;                           /* Centers inline-block <div>s, too! */
    border-color:  rgb(209,192,169);
    border-width: 0.250em 0.750em 0 0.750em;
    border-style: solid;
    border-radius: 0 0 0.250em 0.250em;                /* syntax -> border-radius:     */
    position: fixed; 
    bottom: 0em; 
    left: 0em;       /* top   top    bottom  bottom  */
    right: 0em;
    width: 98%;                                 /* left, right, right , left  ; */
    max-width: 37.5em;
    margin:  0 auto;
    padding: 0.125em 0.375em;
  }

  #global div {
    display: inline-block;
    font-size:  81.25%;
    background-color: rgb(209,192,169);
    border-radius: 0.9375em;
    text-align: center;
    width: 31.5%;
    margin:  0.250em 0.125em;
    padding: 0.375em 0.125em;
  }

  #global a {
    color: rgb( 83,121,105);                                          /* greenly - 2-4 */
  }

  #global a:hover {
    text-decoration: none;
    color: rgb(122,122,146);                               /* switches to purply - 1-3 */
    text-shadow: rgb(156,156,171)  0  0 28px;                    /* and glows a little */
  }

  main nav {
    display: block;
    min-width: 12em;                                              /* matches <article> */
    text-align: center;                           /* Centers inline-block <div>s, too! */
    border-color:  rgb(209,192,169);
    border-width: 0;
    border-style: solid;
    border-radius: 0.250em;
    width:   100%;
    margin:  0.250em;
    padding: 0 0.250em 0.250em 0.250em;
  }

  main nav div {
    display: inline-block;
    font-size:  0.625em;
    background-color: rgb(209,192,169);
    border-radius: 0.875em;
    text-align: center;
    width: 33%;
    margin:  0.250em 6%;
    padding: 0.375em 1.125em;
  }

  main nav a {
    color: rgb(122,122,146);                                           /* purply - 1-3 */
  }

}

/********************************************************[ 12.5 em < screen < 37.5 em ]*/

                                               /* Switch from ‘em’ to ‘%’ to allow     */
                                               /* dynamic/responsive sizing of spaces. */
@media all and ( min-width: 12.5em ) {         /*    see: css/notes-on-breakpoints.txt */
                                                                   /*  1 % <- 0.125 em */
  body {                                                           /*  2 % <- 0.250 em */
    border-width: 2vw;                                             /*  3 % <- 0.375 em */
  }                                                                /*  4 % <- 0.500 em */
                                                                   /*  5 % <- 0.625 em */
  article {                                                        /*  6 % <- 0.750 em */
    margin:  0.250em 2% 0.250em 2%;                                /*  7 % <- 0.875 em */
    padding: 0 2% 3% 2%;                                           /*  8 % <- 1.000 em */
  }

  div.lightbox {
    margin:  1% 1% 2% 1%;
    padding: 1% 3% 2% 1%;
  }

  section {
    margin:  1% 1% 2% 1%;
    padding: 3% 3% 1% 1%;
  }

  .subcontainer {
    margin:  1% 1% 1% 1%;
    padding: 3% 2% 1% 2%;
  }

  blockquote {
    margin:  3% 13% 3% 13%
    padding: 3% 4% 3% 4%;
  }

  main nav {
    width:   96%;
    margin:  2%;
    padding: 0.1875em 0.250em 0.1875em 0.250em;
  }

}

/*******************************************************[ 37.5 em < screen < 45.25 em ]*/

                                      /* Limit width of <article>, to limit the length */
                                      /* of lines of text.                             */

@media all and ( min-width: 37.5em ) {         /*    see: css/notes-on-breakpoints.txt */
                                                                   /*  1 % -> 0.375 em */
  body {                                                           /*  2 % -> 0.750 em */
    background-color: rgb(177,153,121);                            /*  3 % -> 1.125 em */
    border-width: 0 0.750em;                                       /*  4 % -> 1.500 em */
    border-style: solid;                                           /*  5 % -> 1.875 em */
    border-color: rgb(177,153,121);                                /*  6 % -> 2.250 em */
    padding: 2% 0;                                                 /*  7 % -> 2.625 em */
  }                                                                /*  8 % -> 3.000 em */

  main {
    background-color: rgb(209,192,169);
    max-width: 37.5em;
    margin:  0 auto;
    border:  0;
    padding: 0 0 1em 0;                               /* Pad bottom to clear <nav>. */
  }

  article {
    max-width: 37em;
    margin:  0.250em 0.750em;
    padding: 0 0.750em 0.250em 0.750em;
  }

  div.lightbox {
    margin:  0.375em 0.375em 0.750em 0.375em;
    padding: 0.375em 1.125em 0.750em 0.375em;
  }

  section {
    margin:  0.375em;
    padding: 1.125em 1.125em 0.125em 0.375em;
  }

  .subcontainer {
    margin:  0.375em;
    padding: 1.125em 0.750em 0.375em 0.750em;
  }

  blockquote {
    margin:  1.125em 4.875em 1.125em 4.875em
    padding: 1.125em 1.500em 1.125em 1.500em;
  }

  nav#global {
    width: 96%;
  }
}

/*********************************************************[ 45.25 em < screen < 60 em ]*/

 @media all and ( min-width: 45.25em ) {

  main {
    width:   37.5em;
    margin:  0 0 0 3.125em;
  }

  nav#global {
    left: 3.875em;
    width: 37.500em;
    margin: 0;
  }

  main nav {                           /* Becomes an empty divider between <articles>. */
    background-color: rgb(177,153,121);
    display: inline-block;                                         /* Clear attributes */
    position: relative;                                            /* set for <nav>    */
    top: 0;
    left: 0;
    border-width:  0;
    border-style:  solid;
    border-radius: 0.1875em;                              /* Matches vertical padding. */
    width:   96%;
    height: auto;
    margin:  0 2% 0.125em 2%;
    padding: 0.1875em 0.250em 0.1875em 0.250em;
  }

  main nav a {
    display: none;
  }

}


/********************************************************************[ 60 em < screen ]*/

 @media all and ( min-width: 60em ) {

  body {
    padding: 2% 1px;
  }

  nav#global {
    border-radius: 0.9375em;
    border-width: 0.325em;
    position: fixed; top: 3em; left: 44.5em;
    width:   12.50em;
    height:  8.125em;
    padding: 0.1875em;
  }

  nav#global div {
    font-size:  100%;
    text-align: center;
    width:   11.250em;
    padding: 0.375em 0.125em;
  }

  main nav {
    border-radius: 0.1875em;                              /* Matches vertical padding. */
    border-width:  0;
    position: relative;                                            /* set for <nav>    */
    width:   96%;
    height: auto;
    padding: 0.1875em 0.250em 0.1875em 0.250em;
  }

  main nav a {
    display: none;
  }

}

/***************************************************************************************/
