                                                /*****  screen.css: Screen Styles  *****/

/***************************************************************************************/
                                                              /*** Basic Text Styles ***/

h1,h2,h3,h4,h5,h6,b,strong {                        /* Bold on headings, b, and strong */
  font-weight: bold; font-size: 115%; }

i,em,cite {                                               /* Italic on i, em, and cite */
  font-style: italic; }

abbr,acronym {                    /* Dotted border and help cursor to abbr and acronym */
  border-bottom: 1px dotted; cursor: help; }

/***************************************************************************************/
                                                            /*** Structural elements ***/

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/***************************************************************************************/
/* Typography, color, etc.          Basic element hierarchy:                           */
/* Layout is farther down.                    <body>                                   */
/*                                              <header>                               */
/***************************************************************************************/

body {
}

main {
}


/***************************************************************************************/
/* Layout                           Basic element hierarchy:                           */
/*                                            <body>                                   */
/*                                              <header>                               */
/***************************************************************************************/
                                                                  /** Default layouts **/

header {                                                  /* Header - top of page info */
}

main {
}

/***************************************************************************************/
                                                                    /* screen < 47 em */
@media all and ( max-width: 47em ) {

  body {
  }

  header {
  }

}

/***************************************************************************************/
                                                             /* 48 em < screen < 64 em */
@media all and ( min-width: 48em ) {

  body {
  }

  header {
  }

}

/***************************************************************************************/
                                                                     /* 64 em < screen */
@media all and ( min-width: 64em ) {

  body {
  }

  header {
  }

  main {
  }

}

/***************************************************************************************/
                                                         /*    Reference for colors    */
                                                         /*     20% - rgb(43,48,51)    */
                                                         /*     40% - rgb(87,96,102)   */
                                                         /*     60% - rgb(130,143,153) */
                                                         /*     80% - rgb(173,191,204) */
                                                         /*     90% - rgb(195,215,230) */
                                                         /*    100% - rgb(217,239,255) */
/***************************************************************************************/
