                                                /*****  screen.css: Screen Styles  *****/

/***************************************************************************************/
                                                              /*** Basic Text Styles ***/

h1,h2,h3,h4,h5,h6,b,strong {                        /* Bold on headings, b, and strong */
  font-weight: bold; }

i,em,cite {                                               /* Italic on i, em, and cite */
  font-style: italic; }

abbr,acronym {                    /* Dotted border and help cursor to abbr and acronym */
  border-bottom: 1px dotted; cursor: help; }

/***************************************************************************************/
                                                            /*** Structural elements ***/

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/***************************************************************************************/
/* Typography, color, etc.          Basic element hierarchy:                           */
/* Layout is farther down.          <header>                                           */
/*                                  <body>	                                           */
/*                                    <main>                                           */
/*                                      <article>                                      */
/*                                        <section>                                    */
/*                                          <h1>,<h2>,<h3>,<h4>,<h5>,<h6>              */
/*                                          <!-- while "headings" are not              */
/*                                           containing blocks, they can               */
/*                                           indicate hierarchy       --!>             */
/*                                    <footer>                                         */
/***************************************************************************************/

body {
}

main {
}

h1 {
  font-size:  1.375em;
  line-height: 1.500em;       /* font + 0.125em */
  margin-bottom: 0.250em;
}

h2 {
  font-size:  1.250em;
  line-height: 1.375em;       /* font + 0.125em */
  margin-bottom: 0.125em;
}

h3 {
  font-size: 1.125em;
  line-height: 1.250em;       /* font + 0.125em */
  margin-bottom: 0.125em;
}

h4 {
  font-size: 1em;
  line-height: 1.250em;       /* font + 0.125em */
  margin-bottom: 0.125em;
}

ul {
  list-style-position: inside;
  list-style-type: disc;
  margin: 0.125em 0 0.125em 0.625em;
}

li {
  list-style: inherit;
  margin: 0.125em 0 0.125em 0.5em;
}

/***************************************************************************************/
/* Layout                           Basic element hierarchy:                           */
/*                                  <header>                                           */
/*                                  <body>	                                           */
/*                                    <main>                                           */
/*                                      <article>                                      */
/*                                        <section>                                    */
/*                                          <h1>,<h2>,<h3>,<h4>,<h5>,<h6>              */
/*                                          <!-- while "headings" are not              */
/*                                           containing blocks, they can               */
/*                                           indicate hierarchy       --!>             */
/*                                    <footer>                                         */
/***************************************************************************************/
                                                                  /** Default layouts **/

header {                                                  /* Header - top of page info */
}

main {
}


/***************************************************************************************/
                                                                    /* screen < 47 em */
@media all and ( min-width: 1em ) {

  body {
    background-color: rgb(209,192,169);
    border-style: solid;
    border-color: rgb(209,192,169);
    border-width: 0.250em 0.250em 0.250em 0.250em;
  }

  h1 {
    margin-left: 0.125em;
  }

  article {
    background-color: rgba(255,251,245,1);
    border-style: solid;
    border-color: rgb(245,234,219);
    border-width: 0 0.250em 0.375em 0.250em;
    margin: 0.250em;
  }

  article h2 {
    background-color: rgb(245,234,219);
    width: 100%;
  }

  section {
    background-color: rgba(255,251,245,1);
    /* border: 1px solid rgb( 92, 74, 48); */
    margin: 0.125em 0.125em 0.250em 0.125em;  /* fighting the collapse */
    padding: 0.375em 0.375em 0.125em 0.375em;
  }

  .subcontainer {
    background-color: inherit;
    margin: 0.125em 0.125em 0.250em 0.125em;  /* fighting the collapse */
    padding: 0.375em 0.375em 0.125em 0.375em;
  }



  p {
    margin: 0.375em 0.125em 0.500em 0.375em;
  }

}

/***************************************************************************************/
                                                             /* 48 em < screen < 64 em */
@media all and ( min-width: 48em ) {

}

/***************************************************************************************/

                                      /* Limit blocks containing text to 35 em wide? */
                                      /* 35 em + margin&padding + margin&padding = ? */
                                      /* Then start in-lining blocks? */

                                                                     /* 64 em < screen */
@media all and ( min-width: 64em ) {

}

/***************************************************************************************/
                                                         /*    Reference for colors    */
                                                         /*     20% - rgb(43,48,51)    */
                                                         /*     40% - rgb(87,96,102)   */
                                                         /*     60% - rgb(130,143,153) */
                                                         /*     80% - rgb(173,191,204) */
                                                         /*     90% - rgb(195,215,230) */
                                                         /*    100% - rgb(217,239,255) */
/***************************************************************************************/
