/*****  screen.css: Screen Styles  *****/
html {
  box-sizing: border-box;
  background-color: #7160a2;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/* Typography, color, etc. */
h1 {
  font-family: 'Merriweather Sans', sans-serif;
  font-weight:  700;
  font-size:    1.625em;
  line-height:  1.500em;
  margin-bottom:  0.250em;
  margin-left:    0.250em;
}
h1 + h1 {
  margin-top:  -0.4375em;
  margin-left:  0.5625em;
  font-size:    1.3125em;
  font-style:   italic;
}
h2 {
  font-family: 'Merriweather Sans', sans-serif;
  font-style:   normal;
  font-weight:  700;
  font-size:    1.250em;
  line-height:  1.250;
  margin:       0.9375em 0 0.750em 0;
}
h3 {
  font-family: 'Merriweather Sans', sans-serif;
  font-style:   italic;
  font-weight:  700;
  font-size:    1.125em;
  line-height:  1.250;
  margin:       0.9375em 0 0.5625em 0;
}

h4, h5, h6, b, strong, caption { 
  font-weight: bold; 
}
i, em { 
  font-style: italic;  
}
body { 
  font-family: 'Merriweather Sans', sans-serif; 
  font-weight:  300;
}
p { 
  font-family: 'Merriweather Sans', sans-serif; 
  font-weight:  300;
  font-size:    1.0625em;
  line-height:  1.250em;
}
div p {
  font-family: 'Merriweather Sans', sans-serif;
  font-weight:  300;
}
main {
  background-color: #cdc6e1;
  border-radius: 0.250em;
  padding-bottom: 4em;
}
article {
  background-color: #cdc6e1;
  border-radius: 0.250em;
}
section {
  background-color: #cdc6e1;
  border-radius: 0.125em;
  overflow: hidden;
  width: 100%;
}
ul { 
  list-style-type: disc;
}
ol { 
  list-style-type: decimal;
}
a {
  color: #713d8a;
  text-decoration: none;
}
a:hover { 
  text-decoration: underline; 
}
a:hover.button {
  text-decoration: none;
}
#caveat,
#unpublishable {
  display: none;
}
#show_caveat,
#show_unpublishable {
  display: inline;
}

/********************************[ default layout ]**/
body  {
  margin: 0.625em;
}
article {
  padding: 0.3125em;
}
section > section {
  display: inline;
}
h3.before {display: inline-block;}
h3.after  {display: none;}
p {
  margin: 0.250em 0.125em 0.500em 0.250em;
  padding: 0.250em 0 0.250em 0;
  max-width: 48em;
}
div p {
  font-size:    0.625em;
}
ul, ol {
  list-style-position: inside;
  margin:  0.125em 0.1250em 0.125em 0.25em;
  padding: 0.125em 0.1875em 0.125em 0.3125em;
}
li {
  list-style: inherit;
  margin: 0.125em  0  0.125em 0.5em;
}
li {
  max-width: 37.5em;
  margin: 0.375em 0.125em 0.500em 1.375em;
  /* increase left by 1.375 em */
  text-indent: -1.375em;
  /* for hacky hanging indents */
}
img {
  max-width:  100%;
  height:     auto;
}
.w1008, 
.w1536, 
.w1440, 
.w2400, 
.w3072 {
  background-color: #ffffff;
  border-style:     solid;
  border-radius:    0.250em;
  border-width:     0.125em;
  border-color:     #7160A2;
  display:          block;
  width:      98.75%;
  max-width:  12em;
  float:      none;
  margin:     0.1875em auto;
  padding:    0.1250em;
}
.w1440, 
.w2400, 
.w3072  {
  max-width: 24.625em;
}
.button {
  background-color: #C5CCE0;
  border-style:     solid;
  border-radius:    0.1875em;
  border-width:     0.0625em;
  border-color:     #43568B;
  display:          block;
  width:      10.3125%;
  max-width:  1.5em;
  float:      right;
  margin:     0.0625em;
  padding:    0;
}

/********************************[ 25 em < screen ]**/
@media all and (min-width: 25em) {
  body  {
    margin-right: 2.5%;
  }
  article {
    padding: 0.3125em 0.3125em 0.3125em 7.8125%;
    max-width: 64em;
  }
  h3.before {display: none;}
  h3.after  {display: inline-block;}
  div p {
    font-size:    0.875em;
  }
  ul, ol {
    margin:  0.125em 0.125em 0.125em 0.625em;
    padding: 0.125em 0.7500% 0.125em 6.25%;
  }
  .w1008, 
  .w1536, 
  .w1440, 
  .w2400, 
  .w3072 {
    float:    right;
    clear:    right;
    margin:   0.625em 0.0625em 0.625em 1.4125em;
    padding:  0.125em;
  }
  .w1440, 
  .w2400, 
  .w3072  {
    float:    none;
    clear:    both;
    margin:   0.1875em;
    padding:  0.1250em;
  }
  .w1008 {
    width:     31.25%;
    max-width: 20.0em;
  }
  .w1008-l, 
  .w1536,
  #Standard_deviation_diagram,
  #population-probability,
  #type-2-errors {
    float:    left;
    clear:    left;
    margin:   0.625em 1.4125em 0.625em 0.625em;
    padding:  0.125em;
  }
  .w1536 {
    width:     46.875%;
    max-width: 30.0em;
  }
  .w1440 {
    width:     58.8750%;
    max-width: 49.1875em;
  }
  .w2400 {
    width:     61.6875%;
    max-width: 51.5625em;
  }
  .w3072 {
    width:     89.7500%;
    max-width: 75em;
  }
  .button {
    max-width: 2.0625em;
  }
}

/********************************[ 40 em < screen ]**/
@media all and (min-width: 40em) {
  body  {
    margin-right: 1em;
  }
  article {
    padding: 0.3125em 0.3125em 0.3125em 3.125em;
    max-width: 64em;
  }
  ul, ol {
    padding: 0.125em 0.300em 0.125em 2.500em;
  }
}
