!!!
%html{:lang => "en"}
  %head
    %title Index and abstract
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %link{:href => "css/reset.css", :media => "screen,print", :rel => "stylesheet"}/
    %link{:href => "css/screen.css", :rel => "stylesheet"}/
    %link{:href => "css/gfx/favicon.ico", :rel => "icon", :type => "image/x-icon"}/
  %body
    %main
      %h1
        Practical impact
      %article#abstract
        %h2
          The research value of tracking practical impact
        %p
          Bibliometric methods are well established and widely used, but they reinforce the isolation of academic research from real-world practice, which has a number of consequences, including: trivial empirical studies; lack of practitioner unawareness of “common knowledge” among researchers; and increasingly skeptical scrutiny research funding.  Requiring practical impact of academic research isn't a good solutions for a number of reasons, but practical impact of research should be rewarded.  Effective reward systems will require the effective tracking of practical impact, which current bibliometric and altmetric methodologies fail to do.
        %p
          A practical impact metric could draw data from a number of paths, including social media and readership information, and rank practical impact with three levels: Unknown, Apparent and Important.  The levels would be based on comparisons within a field, to avoid disparities between inherently different fields of research.
      %article#contents-guide
        %h2
          Contents
        :markdown
          * [Practical impact thesis](practical-impact-thesis.html)
            * [What is practical impact?](practical-impact-thesis.html#what-is-practical-impact)
            * [Why is practical impact interesting?](practical-impact-thesis.html#why-is-practical-impact-interesting)
            * [Tracking practical impact](practical-impact-thesis.html#tracking-practical-impact)
            * [Uses of practical impact information](practical-impact-thesis.html#uses-of-practical-impact-information)
            * [Hazards of ignoring practical value](practical-impact-thesis.html#hazards-of-ignoring-practical-value)
            * [Hazards of making practical value requisite](practical-impact-thesis.html#hazards-of-making-practical-value-requisite)
            * [Rewarding practical impact](practical-impact-thesis.html#rewarding-practical-impact)
            * [Categorizing practical impact](practical-impact-thesis.html#categorizing-practical-impact)
            * [Practical impact levels](practical-impact-thesis.html#levels-of-practical-impact)
            * [Conclusion and reiteration](practical-impact-thesis.html#conclusion-and-reiteration)
          * [References](references.html)
    %nav
      %a{:href => "index.html"}
        %div
          Abstract/Index
      %a{:href => "practical-impact-thesis.html"}
        %div
          Thesis
      %a{:href => "references.html"}
        %div
          References
    %footer
