!!!
%html{:lang => "en"}
  %head
    %title Index and abstract
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %link{:href => "css/reset.css", :media => "screen,print", :rel => "stylesheet"}/
    %link{:href => "css/screen.css", :rel => "stylesheet"}/
    %link{:href => "css/gfx/favicon.ico", :rel => "icon", :type => "image/x-icon"}/
  %body
    %main
      %h1
        Practical impact &ndash; a thesis
      %article#abstract
        %h2
          Tracking practical impact so as to abate the misuse of null-hypothesis significance testing
        %p
          The misuse of null-hypothesis significance testing as a <i>de facto</i> measure of the importance of the results for empirical studies has been recognized as an issue in social science research for decades.  Despite calls for reform, and various proposals for remedial statistical methodologies, the practice not only continues but has grown.
        %p
          At the same time, there has been growing concern over the apparent lack of relevance of the research in many fields to those engaged in the practice of that field.  Some have cited the misuse of null-hypothesis significance testing as one of the causes of the loss of relevance. This suggests that a solution for the problem of the misuse of null-hypothesis significance testing may be found by addressing the wider issue of relevance to practice.  Such a solution would be an alternative to reforming the use of statistical methodologies through requiring additional, often tortuous, calculations.
        %p
          This thesis proposes a “practical impact” metric, modeled on existing bibliometrics that are used as proxies for evaluating the “scientific impact” of research, that could be used to evaluate the relevance of research to practice.  By rewarding research that has practical impact, researchers can be encouraged to find and write about effects which are not only statistically significant, but also important, thus abating the misuse of null-hypothesis significance testing.
      %article#contents-guide
        %h2
          Contents
        %ul
          %li
            <a href="practical-impact-thesis.html#top">Practical impact &ndash; a thesis</a>
            %ul
              %li <a href="practical-impact-thesis.html#preface-document-structure">Preface: document structure</a>
              %li
                <a href="practical-impact-thesis.html#null-hypothesis-significance-testing">Null-hypothesis significance testing</a>
                %ul
                  %li <a href="practical-impact-thesis.html#losing-importance-in-the-search-for-significance">Losing importance in the search for significance</a>
              %li
                <a href="practical-impact-thesis.html#making-importance-once-again-important">Making importance once again important</a>
                %ul
                  %li <a href="practical-impact-thesis.html#demonstrate-importance-through-effect-sizes">Demonstrate importance through effect sizes</a>
                  %li <a href="practical-impact-thesis.html#from-calculations-to-precedents">From calculations to precedents</a>
                  %li <a href="practical-impact-thesis.html#using-precedents-as-estimates">Using precedents as estimates</a>
              %li
                <a href="practical-impact-thesis.html#simplify-the-problem">Simplify the problem…</a>
                %ul
                  %li <a href="practical-impact-thesis.html#by-expanding-it">…By expanding it</a>
                  %li <a href="practical-impact-thesis.html#find-out-from-practitioners-what-they-consider-relevant">Find out from practitioners what they consider relevant</a>
                  %li <a href="practical-impact-thesis.html#specifics-of-what-would-be-tracked">Specifics of what would be tracked</a>
              %li
                <a href="practical-impact-thesis.html#existing-metrics">Existing metrics</a>
                %ul
                  %li <a href="practical-impact-thesis.html#journal-level-citation-metrics">Journal-level citation metrics</a>
                  %li <a href="practical-impact-thesis.html#finding-the-journals">Finding the &ldquo;indispensable&rdquo; journals</a>
                  %li <a href="practical-impact-thesis.html#counting-citations-to-sort-journals">Counting citations to sort journals</a>
                  %li <a href="practical-impact-thesis.html#compiling-citations-for-multiple-fields">Compiling citations for multiple fields</a>
                  %li <a href="practical-impact-thesis.html#reporting-ratios-instead-of-counts">Reporting ratios instead of counts</a>
                  %li <a href="practical-impact-thesis.html#selecting-what-years-to-include">Selecting what years to include</a>
                  %li <a href="practical-impact-thesis.html#samples-not-populations-of-citations">Samples, not populations, of citations</a>
                  %li <a href="practical-impact-thesis.html#so-whats-a-jif-anyway">So, what's a JIF, anyway?</a>
                  %li <a href="practical-impact-thesis.html#altmetrics-overview">Altmetrics - overview</a>
                  %li <a href="practical-impact-thesis.html#altmetrics-examples-related-to-practical-impact">Altmetrics - examples related to practical impact</a>
              %li <a href="practical-impact-thesis.html#dont-require-practical-impact-reward-it">Don't require practical impact; reward it</a>
              %li <a href="practical-impact-thesis.html#promote-practical-impact-and-trivial-results-will-fade">Promote practical impact, and trivial results will fade</a>
          %li <a href="references.html#top">References</a>
    %nav
      %a{:href => "index.html"}
      %div
        Abstract/Index
      %a{:href => "practical-impact-thesis.html"}
      %div
        Thesis
      %a{:href => "references.html"}
      %div
        References
    %footer
